---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h1>
        {{ site.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
    {% endif %}
  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

   <section id="about" style="text-align:center; max-width:600px; margin:0 auto;">
    <img src="/assets/images/headshot_2025_edited.jpeg" alt="Headshot" style="max-width:300px; height:auto;">
    <p style="margin-top:1.5em;">
      I am an applied microeconomist working on topics in health and labour economics. In my current research, I study childcare as a determinant of fertility choices, maternal health, and health inequalities. 
    <p> 

    <p style="margin-top:1.5em;"> 
      In August 2026 I will be a postdoctoral fellow at the FAIR Institute at the Norwegian School of Economics (NHH). 
    <p>

    <p style="margin-top:1.5em;">
      Before my doctoral studies, I obtained a B.A. in Economics & Management from the University of Oxford and an M.Sc in Economics from University College London. I also worked for the U.K. Government Economic Service on energy price modelling, digital markets, and family related policies. 
    <p>

    <p style="margin-top:1.5em;">
      You can contact me at <a href="mailto:abidow@bu.edu">abidow@bu.edu</a>.
    </p>
  </section>

    

</main>
